In [1]:
from google.colab import files
upload = files.upload()

Saving movie.csv to movie.csv

In [2]:
import pandas as pd
import numpy as np
import random

In [3]:
data=pd.read_csv('movie.csv')

In [4]:
data.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [ ]:
data.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [5]:
data.drop(['duration', 'actor_3_facebook_likes', 'actor_2_facebook_likes', 'actor_1_facebook_likes', 'movie_imdb_link' , 'country', 'movie_facebook_likes', 'budget', 'title_year'], axis=1, inplace=True)

In [6]:
data.drop(['aspect_ratio'], axis=1, inplace=True)

In [8]:
data.drop(['color', 'num_critic_for_reviews', 'director_facebook_likes', 'gross', 'num_voted_users' , 'cast_total_facebook_likes', 'facenumber_in_poster', 'plot_keywords', 'num_user_for_reviews', 'language', 'content_rating'], axis=1, inplace=True)

In [9]:
data.head()

       director_name      actor_2_name  ...          actor_3_name imdb_score
0      James Cameron  Joel David Moore  ...             Wes Studi        7.9
1     Gore Verbinski     Orlando Bloom  ...        Jack Davenport        7.1
2         Sam Mendes      Rory Kinnear  ...      Stephanie Sigman        6.8
3  Christopher Nolan    Christian Bale  ...  Joseph Gordon-Levitt        8.5
4        Doug Walker        Rob Walker  ...                   NaN        7.1

[5 rows x 7 columns]

In [10]:
data.shape

(5043, 7)

In [11]:
DatasetMovie=[]
for x in range(0,1000):
    DatasetMovie.append([str(data.values[x,y]) for y in range(0,7)])

In [12]:
DatasetMovie[:1]

[['James Cameron',
  'Joel David Moore',
  'Action|Adventure|Fantasy|Sci-Fi',
  'CCH Pounder',
  'Avatar\xa0',
  'Wes Studi',
  '7.9']]

In [13]:
def getReccomendation(r):
    for x in range(0,1000):
      if (DatasetMovie)[x][3] == r[3] or (DatasetMovie)[x][2] == r[0] or (DatasetMovie)[x][2] == r[2]:
        if DatasetMovie[x][4] != r[4]:
          return DatasetMovie[x]
        else:
          return random.choice(DatasetMovie)
      else: 
        return random.choice(DatasetMovie)

In [14]:
movieRiwayat=[]
userRiwayat=[]
for x in range(0,1000):
    firtsMovie = (random.choice(DatasetMovie))
    userRiwayat.append([])
    movieRiwayat.append([])
    movieRiwayat[x].append(getReccomendation(firtsMovie))
    for y in range(0,9):
      movieRiwayat[x].append(getReccomendation(movieRiwayat[x][y]))
      userRiwayat[x].append(movieRiwayat[x][y][4].replace(u'\xa0', u''))

In [15]:
userRiwayat[:1]

[['Spectre',
  'Miami Vice',
  'Analyze That',
  'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
  'The Siege',
  'Mr. & Mrs. Smith',
  'Windtalkers',
  'Elektra',
  'Gladiator']]

In [75]:
user,user1,user2=[],[],[]
for result in userRiwayat:
    user1.append(result[1])
    user.append(result[0])
    user2.append(result[7])
    columns=list(zip(user,user1,user2))
    dataset=pd.DataFrame(columns)
dataset.columns=['Film yang dipilih','Film yang dipilih','Film yang dipilih']
dataset

                         Film yang dipilih  ...               Film yang dipilih
0                                  Spectre  ...                         Elektra
1                      The Nutty Professor  ...                     The Rundown
2                         American Reunion  ...                     Man on Fire
3    Harry Potter and the Sorcerer's Stone  ...                    Rock of Ages
4                                    Congo  ...                    Transformers
..                                     ...  ...                             ...
995                              Apollo 13  ...             Clash of the Titans
996      Bridget Jones: The Edge of Reason  ...                      Wyatt Earp
997                    Catch Me If You Can  ...                        Due Date
998                          Lost in Space  ...  How the Grinch Stole Christmas
999                  Mr. Peabody & Sherman  ...                        Dinosaur

[1000 rows x 3 columns]

In [16]:
pip install pyfpgrowth

Collecting pyfpgrowth
  Downloading https://files.pythonhosted.org/packages/d2/4c/8b7cd90b4118ff0286d6584909b99e1ca5642bdc9072fa5a8dd361c864a0/pyfpgrowth-1.0.tar.gz (1.6MB)
     |████████████████████████████████| 1.6MB 5.7MB/s
Building wheels for collected packages: pyfpgrowth
  Building wheel for pyfpgrowth (setup.py) ... done
  Created wheel for pyfpgrowth: filename=pyfpgrowth-1.0-py2.py3-none-any.whl size=5479 sha256=e170ad93e6574ed654572ad81e0360e63d97917c4554740085c713251b1b80f3
  Stored in directory: /root/.cache/pip/wheels/3b/3f/0d/a04bb8b17887c1eca7d0f1a48d4aa0c09c96eb221ff7fa56c1
Successfully built pyfpgrowth
Installing collected packages: pyfpgrowth
Successfully installed pyfpgrowth-1.0

In [17]:
import pyfpgrowth

In [119]:
transactions = userRiwayat
sup = 0.003  # float(input("Enter support %: "))
patterns = pyfpgrowth.find_frequent_patterns(transactions, int(len(transactions) * sup))
print(len(patterns))
rules = pyfpgrowth.generate_association_rules(patterns, 0.2)
print(rules)
print(len(rules))

1045
{('The Amazing Spider-Man 2',): (('Avatar',), 0.8), ('Epic',): (('Harry Potter and the Chamber of Secrets',), 0.375), ('Harry Potter and the Chamber of Secrets',): (('Epic',), 0.5), ('Noah',): (('The Siege',), 0.21428571428571427), ('What Women Want',): (('Noah',), 0.5), ('Star Wars: Episode I - The Phantom Menace',): (('Avatar',), 1.0), ('The League of Extraordinary Gentlemen',): (('Avatar',), 0.8571428571428571), ('Dinosaur',): (('Mr. Peabody & Sherman',), 0.42857142857142855), ('Mr. Peabody & Sherman',): (('Dinosaur',), 0.375), ('Eyes Wide Shut',): (('Lost in Space',), 0.42857142857142855), ('WALL·E',): (('Barnyard',), 0.42857142857142855), ('George of the Jungle',): (('Star Trek',), 0.42857142857142855), ('Star Trek',): (('George of the Jungle',), 0.3333333333333333), ('State of Play',): (('Total Recall',), 0.42857142857142855), ('Bulletproof Monk',): (('The Dark Knight Rises',), 0.5), ('The Dark Knight Rises',): (('Bulletproof Monk',), 0.36363636363636365), ('Mars Needs Moms',): (('Xi you ji zhi: Sun Wukong san da Baigu Jing',), 0.375), ('Xi you ji zhi: Sun Wukong san da Baigu Jing',): (('Mars Needs Moms',), 0.2), ('American Sniper',): (('Sphere',), 0.3333333333333333), ('Sphere',): (('American Sniper',), 0.375), ('Resident Evil: Afterlife',): (('Superman II',), 0.2), ('Superman II',): (('Resident Evil: Afterlife',), 0.375), ('End of Days',): (('Avatar',), 0.75), ('Doctor Dolittle',): (('The Twilight Saga: Breaking Dawn - Part 2',), 0.375), ('Hall Pass',): (('Avatar',), 0.375), ('Looney Tunes: Back in Action',): (('What Lies Beneath',), 0.375), ('What Lies Beneath',): (('Looney Tunes: Back in Action',), 0.21428571428571427), ('Pocahontas',): (('The Replacements',), 0.375), ('The Replacements',): (('Pocahontas',), 0.2727272727272727), ('Dreamcatcher',): (('The Long Kiss Goodnight',), 0.3333333333333333), ('The Long Kiss Goodnight',): (('Dreamcatcher',), 0.2), ('Dark Water',): (('Harry Potter and the Prisoner of Azkaban',), 0.25), ('Harry Potter and the Prisoner of Azkaban',): (('Dark Water',), 0.3333333333333333), ('Daddy Day Care',): (('Zathura: A Space Adventure',), 0.3333333333333333), ('Zathura: A Space Adventure',): (('Daddy Day Care',), 0.2), ('The Internship',): (('The Watch',), 0.3333333333333333), ('The Watch',): (('The Internship',), 0.3), ('Bedtime Stories',): (('Flightplan',), 0.25), ('Flightplan',): (('Bedtime Stories',), 0.3333333333333333), ('Land of the Lost',): (('Avatar',), 0.3333333333333333), ('Ali',): (('Mission: Impossible - Ghost Protocol',), 0.3333333333333333), ('Wyatt Earp',): (('The Fast and the Furious',), 0.3333333333333333), ('Runaway Bride',): (('Avatar',), 0.3333333333333333), ('Free Birds',): (('Furious 7',), 0.3333333333333333), ('Furious 7',): (('Free Birds',), 0.21428571428571427), ('Star Wars: Episode II - Attack of the Clones',): (('Avatar',), 0.8888888888888888), ('Casper',): (('Ghost Rider: Spirit of Vengeance',), 0.3333333333333333), ('Ghost Rider: Spirit of Vengeance',): (('Casper',), 0.25), ('Armageddon',): (('Memoirs of a Geisha',), 0.4444444444444444), ('Memoirs of a Geisha',): (('The BFG',), 0.25), ('Signs',): (('Battle Los Angeles',), 0.3), ('Lincoln',): (('RED',), 0.2727272727272727), ('RED',): (('Lincoln',), 0.3), ('Man of Steel',): (('Avatar',), 0.9), ('Star Wars: Episode III - Revenge of the Sith',): (('Avatar',), 0.9), ('Rio',): (("The Emperor's New Groove",), 0.3), ('A Touch of Frost',): (("Charlotte's Web",), 0.3), ("Charlotte's Web",): (('A Touch of Frost',), 0.25), ('Anna and the King',): (('Starship Troopers',), 0.2727272727272727), ('Starship Troopers',): (('Anna and the King',), 0.3), ('Mona Lisa Smile',): (('The Twilight Saga: Breaking Dawn - Part 2',), 0.3), ('Cars',): (('The Core',), 0.2727272727272727), ('The Core',): (('Cars',), 0.3), ('The Siege',): (('Noah',), 0.2727272727272727), ('Driven',): (('The Twilight Saga: New Moon',), 0.2727272727272727), ('The Twilight Saga: New Moon',): (('Driven',), 0.23076923076923078), ('From Paris with Love',): (("You've Got Mail",), 0.25), ("You've Got Mail",): (('From Paris with Love',), 0.2727272727272727), ('Mission: Impossible II',): (('Avatar',), 0.2727272727272727), ('Green Lantern',): (('The Nutcracker in 3D',), 0.25), ('Captain America: The Winter Soldier',): (('Pan',), 0.25), ('Pan',): (('Avatar',), 0.2), ('Sex and the City 2',): (('The Expendables 3',), 0.2), ('The Expendables 3',): (('Sex and the City 2',), 0.25), ('Babe: Pig in the City',): (('The Nutcracker in 3D',), 0.3333333333333333), ('The Nutcracker in 3D',): (('Babe: Pig in the City',), 0.25), ('Walking with Dinosaurs 3D',): (('The Twilight Saga: Breaking Dawn - Part 2',), 0.25), ('The BFG',): (('Memoirs of a Geisha',), 0.2), ('The Lovely Bones',): (('Avatar',), 0.23076923076923078), ('Sucker Punch',): (('The Book of Eli',), 0.23076923076923078), ('Poseidon',): (('The Twilight Saga: Breaking Dawn - Part 2',), 0.23076923076923078), ('The Bourne Identity',): (('Avatar',), 0.23076923076923078), ('Crimson Tide',): (("The Emperor's New Groove",), 0.21428571428571427), ('Now You See Me',): (('The Legend of Tarzan',), 0.2), ('Elizabethtown',): (('Mission: Impossible - Ghost Protocol',), 0.2), ('The Simpsons Movie',): (('Avatar',), 0.2), ('Crazy, Stupid, Love.',): (('Avatar',), 0.25)}
87

In [128]:
rekomendasi=[]
for x,y in rules.items():
  rekom=[]
  rekom.append(x)
  rekom.append(y[0])
  rekom.append(y[1])

  rekomendasi.append(rekom)
  rules_df=pd.DataFrame(rekomendasi,columns=['Movie','Rekomendasi','Confidence'])
rules_df

                                         Movie  ... Confidence
0                  (The Amazing Spider-Man 2,)  ...   0.800000
1                                      (Epic,)  ...   0.375000
2   (Harry Potter and the Chamber of Secrets,)  ...   0.500000
3                                      (Noah,)  ...   0.214286
4                           (What Women Want,)  ...   0.500000
..                                         ...  ...        ...
82                             (Crimson Tide,)  ...   0.214286
83                           (Now You See Me,)  ...   0.200000
84                            (Elizabethtown,)  ...   0.200000
85                       (The Simpsons Movie,)  ...   0.200000
86                     (Crazy, Stupid, Love.,)  ...   0.250000

[87 rows x 3 columns]

In [151]:
df=pd.DataFrame(userRiwayat)
df['Items'] = df[df.columns[:]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1
)
df.drop(df.columns[0:6],axis=1)

def support_count(sup):  
    count=0
    sup1=set(str(sup))
    sup1.remove("'")
    sup1.remove('(')
    sup1.remove(')')
    sup1.discard(' ')
    for j in df['Items']:
        j=set(j)
        if(sup1.issubset(j)):
            count=count+1
    return count
support=[]
for i in rules_df['Rekomendasi']:
    a=support_count(i)
    support.append(a/len(df))
rules_df['support']=support

In [152]:
rules_df['lift']=rules_df['Confidence']/rules_df['support']

In [157]:
rules_df[(rules_df['lift'] >= 1.2) &
(rules_df['Confidence'] >= 0.8) & (rules_df['Confidence'] >=0.3)]
rules_df

                                         Movie  ... support
0                  (The Amazing Spider-Man 2,)  ...   0.505
1                                      (Epic,)  ...   0.093
2   (Harry Potter and the Chamber of Secrets,)  ...   0.415
3                                      (Noah,)  ...   0.728
4                           (What Women Want,)  ...   0.379
..                                         ...  ...     ...
82                             (Crimson Tide,)  ...   0.000
83                           (Now You See Me,)  ...   0.100
84                            (Elizabethtown,)  ...   0.043
85                       (The Simpsons Movie,)  ...   0.505
86                     (Crazy, Stupid, Love.,)  ...   0.505

[87 rows x 7 columns]

In [155]:
rules_df.to_csv('FPGROWTH')